<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Registro de Usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Registrar Nuevo Usuario</h1>
    <form method="POST">
        <label for="">Nombre</label>
        <input type="text" name="name" required><br>
        <label for="">Correo:</label>
        <input type="email" name="email" required><br>
        <input type="submit" value="Registrar">
    </form>
   
</body>
</html>